<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs CSharp</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Play MadLibs!</h1>

    <h3>My Weekend Adventure</h3>

    <p>Learning @Model.GetSubject() can be really @Model.GetEmotion1() ! The other day, I was hanging out in @Model.GetPlace() when I saw a spotted @Model.GetNoun() which was so @Model.GetEmotion2() , I almost @Model.GetBodyFunction() in my @Model.GetClothingItem() . </p>

  </body>
</html>
